.headerContainer {
  background-color: var(--gray-200);
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;

    h1 {
      font-size: 1.5rem;
    }
  }

  .tabsNavigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);

    div {
      width: 50%;
      background-color: var(--gray-200);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      transition: filter 0.2s;
      border-top: 1px solid var(--gray-100);
      
      h2 {
        font-size: 1.2rem;
      }

      &:hover {
        filter: brightness(1.2);
      }

      &.active {
        background-color: var(--green);
      }
    }
  }
}
